* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  
  *::selection {
    background: #afc43a62;
    color: #fff;
  }

  a {
    cursor: pointer;
  }

  :root {
    --btn-color: #B0C43A;
    --backround-pages: #201f21;
    --modal-color: rgb(217, 217, 217);
    --color-fonts: rgb(255, 254, 245);
    --font-titles: 'Anton', sans-serif;
    --font-paragraph: 'Arimo', sans-serif;
    --font-2-paragraph: 'Montserrat', sans-serif;
    --line-height-mobile: 1.7; 
    --line-height-tablet: 1.8;
    --line-height-descktop: 1.9;
  }

  body {
    background-color: var(--backround-pages);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column  ;
  }
  
/*========================== RES 320 ==============================*/

.nav-shadow {
	box-shadow: -1px 9px 21px -5px rgba(126,154,234,0.94);
	-webkit-box-shadow: -1px 9px 21px -5px rgba(126,154,234,0.94);
	-moz-box-shadow: -1px 9px 21px -5px rgba(126,154,234,0.94);
}
.nav-item-img {
	width: 30px;
	height: 30px;
}
.navbar__img {
	width: 50px;
	height: 50px;
}
.btn-navbar {
	background-color: var(--btn-color) !important;
	width: 130px;
}
.form__position {
	position: relative;
	padding-left: 30px !important;
	background-color: var(--backround-pages) !important;
	border-radius: 20px !important;
}
.form__position-search {
	position: absolute;
}

.container__footer {
  background:var(--backround-pages);
  border-top: solid 4px var(--btn-color);
}

.footer__container-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;
}

.footer__title {
  font-family: var(--font-titles);
  font-size: 60px;
  color: var(--color-fonts);
  font-weight: bold;
  letter-spacing: 8px;
  padding-top: 20px;
  text-align: center;
}

.footer__logo {
  width: 130px;
  padding-bottom: 15px;
}

.footer__icons {
  width: 55%;
  display: flex;
  justify-content: space-around;
  padding: 50px 0 50px 0;
}

.icon-redes {
  padding: 3px 8px 3px 8px;
  color: var(--color-fonts);
  border: solid 0.1px rgba(0, 0, 0, 0);
  border-radius: 50%;
  transition: 0.6s;
  font-size: 35px;
}

.icon-redes:hover {
  background-color: var(--color-fonts);
  color: var(--backround-pages) !important;
  box-shadow: 1px 0px 17px 3px rgba(168,203,246,0.77);
  -webkit-box-shadow: 1px 0px 17px 3px rgba(168,203,246,0.77);
  -moz-box-shadow: 1px 0px 17px 3px rgba(168,203,246,0.77);
}

.footer__contact {
  color: var(--color-fonts);
  font-size: 0.8rem;
  padding: 10px;
}

.footer__contact {
  color: var(--color-fonts);
  font-size: 0.8rem;
  padding: 10px;
}

.footer__reserved {
  color: var(--color-fonts);
  font-size: 0.6rem;
  text-align: center;
  padding-bottom: 10px;
  margin: 0;
}

.main__title {
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-size: 15px;
  margin: 15px 0 15px;
}


.main__title h3 {
  color: var(--color-fonts);
  font-size: 1.1em;
  font-family: var(--font-2-paragraph);
  margin: 0 10px 20px;
  font-weight: bolder;
}

.main {
  margin-bottom: 70px;
  width: 90%;
}

.main-1{
  margin-top: 150px;
}

.main__container {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
}

.movie-title {
  color: rgb(208, 208, 221);
  font-size: 1rem;
  font-family: var(--font-paragraph);
}

.main__container-movies {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  gap: 4em; 
  flex-wrap: wrap;
  width: 100%;
  cursor: pointer;
  padding: 5px;
}

.main__container-movie {
  min-width: 23%;
  transition: all 500ms ease-out;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.img-films {
  width: 100%;
  height: 100%;
  vertical-align: top;
  border-radius: 5px;
  transition: all 500ms ease-out;
}

.main__container-btn {
  color: var(--color-fonts);
  font-size: 50px;
  cursor: pointer;
}

.main__container-movie:hover > .layer{
  opacity: 0.9; 
  visibility: visible;
  transform: scale(1.2);
}

.container__movie-number {
  position: relative;
  color: var(--color-fonts);
}

.movie-number {
  position: absolute;
  top: -25%;
  left: 5px;
  font-size: 8.4em;
  font-family: var(--font-titles);
  font-weight: bolder;
  text-shadow: 0 0 40px rgb(14, 165, 246),
  0 0 50px white;
}

.modal__container,
.modal-template {
  padding: 10px;
  height: calc(100% - 50px);
  width: 90%;
  display: none;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
  background-color: var(--color-fonts);
  border-radius: 10px;
  font-family: var(--font-paragraph);
  margin: 70px 10px;
  
}

.modal__close {
  display: flex;
  justify-content: end;
  margin-right: 3px;
  margin: 5px;
}

.modal__close:hover,
.modal__table-title-4:hover {
  transition: 0.4s;
  color: rgb(158, 158, 158);
}

.bi-x-lg {
  font-size: 20px;
  cursor: pointer;
  margin: 5px;
  font-weight: bold;
}

.modal__table  {
  width: 100%;
  padding: 15px;
}

.modal__table-titles{
  background-color: var(--modal-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-radius: 10px;
  padding: 10px;
  font-size: 12px;
  width: 100%;
  margin: 10px 2px;
}

.modal__table-title-1 {
  width: 20%;
  
}

.modal__table-title-2 {
  width: 15%;
  padding: 5px;
}

.modal__table-title-3 {
  width: 50%;
  padding: 5px;
}

.modal__table-title-4 {
  width: 20%;
  cursor: pointer;
  font-weight: bold;
}

.modal__table-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modal__table-title-icon {
  width: 10%;
  cursor: pointer;
}

.modal__table-btn {
  font-size: 20px; 
  padding-right: 5px;
}

.modal__btn {
  display: flex;
  margin-right: 3px;
  cursor: pointer;
  display: none;
}

.modal__modification {
  display: none;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: none;
  height: calc(100% - 50px);
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
  background-color: var(--color-fonts);
  border-radius: 10px;
  font-family: var(--font-paragraph);
  margin: 70px 10px;
}

.bi-arrow-left{
  font-weight: bolder;
  font-size: 30px;
  cursor: pointer;
}

.bi-arrow-left:hover {
  transition: 0.4s;
  color: rgb(158, 158, 158);
}

.modal__modification-title {
  margin: 10px 0 3px;
  font-family: var(--font-2-paragraph);
  font-size: 15px;
  font-weight: bold;
}

.modal__modification-input {
  margin-bottom: 10px;
  height: 40px;
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background-color: var(--modal-color);
}

.modal__modification-input:focus {
  outline: 1px solid black;
}

.modal__modification-btn {
  background: rgba(0,0,0, 0.5);
  border: none;
  border-radius: 0.31em;
  padding: 0.3em 1em;
  color: var(--color-fonts);
  margin: 15px 1.25em 30px 0;
  cursor: pointer;
  transition: .3s ease all;
  font-size: 15px;
  font-family: var(--font-2-paragraph);
  width: 70%;
  height: 40px;
  font-weight: bold;

}

.modal__modification-btn:hover {
  background: #fff;
  color: #000;
}


/*================ RES 768 ================*/
@media (min-width: 768px) {
  .main__container {
    align-items: center;
  }
  .main__container-movies {
    grid-template-columns: 35% 35% 35%; 
    gap: 2em; 
    width: 88%;
    align-items: center;
  }
  
  .bi-x-lg {
    font-size: 28px;
  }

  .modal__table-titles{
    font-size: 15px;
  }

  .modal__table-title-2 {
    width: 10%;
  }

  .modal__table-title-3 {
    width: 60%;
  }

  .modal__table-title-4 {
    width: 10%;
  }

  .modal__table-title-icon {
    width: 13%;
    display: flex;
    justify-content: center;
  }

  .modal__table-btn {
    font-size: 25px; 
    padding: 10px;
  }  

  .bi-x-lg{
    font-size: 25px;
  }

  .modal__table {
    margin: 10px 0;
    width: 97%;
  }

  .modal__modification{
    padding: 10px 50px;
  }

  .modal__modification-btn {
    width: 40%;
  }

  .footer__container-contact {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
  }

  .footer__title {
    letter-spacing: 12px;
    font-size: 2.3rem;
  }

  .footer__container-logo {
    width: 30%;
    display: flex;
    align-items: center;
  }

  .footer__logo {
    width: 150px;
  }

  .footer__icons {
    width: 30%;
    display: flex;
    justify-content: center;
  }

  .icon-redes {
  margin: 15px;
  }

  .footer__contact {
    width: 30%;
    color: white;
    font-size: 0.9rem;
    padding: 20px;
    text-align: right;
  }

  .footer__reserved {
    font-size: 0.7rem;
  }
}

/*================ RES 1024 ================*/
@media (min-width: 1024px) {

  .main__container-movies {
    grid-template-columns: 24% 24% 24% 24%; 
    gap: 2em; 
    width: 95%;
  }

  .main__title {
    font-size: 25px;
  }

  .bi-x-lg {
    font-size: 32px;
  }

  .modal__table{
    width: 100%;
  }

  .modal__table-titles{
    font-size: 18px;
  }

  .modal__table-title-2 {
    width: 8%;
  }

  .modal__table-title-3 {
    width: 62%;
  }

  .modal__table-title-4 {
    width: 15%;
  }

  .bi-x-lg{
    font-size: 30px;
  }

  .bi-plus-circle-fill{
      font-size: 50px;
  }

  .modal__modification{
    padding: 15px 70px;
  }

  .modal__modification-btn {
    width: 30%;
  }

  .footer__container-contact {
      flex-direction: row;
  }

  .footer__title {
    letter-spacing: 14px;
    font-size: 5rem;
  }

  .icon-redes {
    margin: 40px;
  }

  .footer__contact {
    font-size: 1.1rem;
    padding: 20px;
  }

  .footer__reserved {
    font-size: 0.9rem;
  }

}