* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

*::selection {
  background: #afc43a62;
  color: #fff;
}

a {
  cursor: pointer;
}

:root {
  --btn-color: #B0C43A;
  --backround-pages: #262528;
  --font-titles: 'Anton', sans-serif;
  --font-paragraph: 'Arimo', sans-serif;
  --font-2-paragraph: 'Montserrat', sans-serif;
}
  
  /*------------------ NAV MOBILE --------------*/
  .bg-body {
    background-image: url(../images/contact/cinema-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    margin: auto;
  }

  .btn-container__contact {
    background-color: var(--btn-color) !important;
  }
  
  ul li a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.3px;
    font-size: 0.9rem;
  }

  /*navbar*/
  .nav-shadow {
    box-shadow: -3px 10px 8px 4px rgba(148, 132, 132, 0.74);
    -webkit-box-shadow: -3px 10px 8px 4px rgba(148, 132, 132, 0.74);
    -moz-box-shadow: -3px 10px 8px 4px rgba(148, 132, 132, 0.74);
  }
  .nav-item-img {
    width: 30px;
    height: 30px;
  }
  .navbar__img {
    width: 50px;
    height: 50px;
  }
  .btn-navbar {
    background-color: var(--btn-color) !important;
  }
  
  /*------------- MAIN MOBILE --------------*/
  .container__contact {
    margin: 100px 15px;
    padding: 40px 20px;
    background-color:rgb(227, 224, 224);
    border-radius: 7px;
    box-shadow: inset ooo 13px var(--btn-color);
  }
  
  .contact__title{
    color: black;
    margin-bottom: 15px;
    border-left: solid 5px white;
    padding-left: 10px;
    font-weight: 500;
    font-size: 2.1rem;
    text-align: center;
  }
  
  .contact__adress {
    width: 100%;
  }
  
  .contact__adress-map {
    width: 100%;
    border-radius: 20px;
  }
  
  .contact__adress-text {
    color: black;
    font-size: 0.8rem;
    background-color:var(--btn-color);
  }
  /*============================== RES 450 ==============================*/
  @media (min-width: 450px) {
    .contact__title{
      border-left: none;
      text-align: center;
      font-size: 1.3rem;
    }
    
    .contact__adress {
      width: 100%;
      justify-content: center;
    }
    
    .contact__adress-text {
      font-size: 0.9rem;
      background-color:var(--btn-color);
      color: black;
    }
  }
  /*============================== RES 768 ==============================*/
  @media (min-width: 768px) {
    .contact__adress {
      width: 100%;
      inset-block: 10px;
    }
  
    .item-contacto {
      padding-right: 10px;
    }
  
    .container__contact {
      margin: 120px 80px;
      padding: 40px 30px;
      border-radius: 15px;
      }
    }
  /*============================== RES 1024 ==============================*/
  @media (min-width: 1024px) {
  /*------------- MAIN DESCKTOP --------------*/
    .container__contact {
      padding: 2.3% 4%;
      margin: 10% 10%;
    }
  
    .container__contact-flex {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  
    .contact__title{
      text-align: left;
      border-left: solid 7px white;
      font-size: 1.6rem;
      margin-bottom: 30px;
      text-align: center;
      border: 0;
      text-transform:uppercase;
    }
}