* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  
  *::selection {
    background: #afc43a62;
    color: #fff;
  }

  a {
    cursor: pointer;
  }

  :root {
    --btn-color: #B0C43A;
    --backround-pages: #201f21;
    --color-fonts: rgb(255, 254, 245);
    --color-btn: linear-gradient(150deg, #58074a, #0e6ba9, #4adae4);
    --font-titles: 'Anton', sans-serif;
    --font-paragraph: 'Arimo', sans-serif;
    --font-2-paragraph: 'Montserrat', sans-serif;
    --line-height-mobile: 1.7; 
    --line-height-tablet: 1.8;
    --line-height-descktop: 1.9;
  }

body {
  background-image: url(../images/backgrounds/stars-background-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  cursor: pointer;
  text-decoration: none ;
}

ul li a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.3px;
  font-size: 0.9rem;
}

/*navbar*/
.nav-shadow {
	box-shadow: -1px 9px 21px -5px rgba(126,154,234,0.94);
	-webkit-box-shadow: -1px 9px 21px -5px rgba(126,154,234,0.94);
	-moz-box-shadow: -1px 9px 21px -5px rgba(126,154,234,0.94);
}
.nav-item-img {
	width: 30px;
	height: 30px;
}
.navbar__img {
	width: 50px;
	height: 50px;
}
.btn-navbar {
	background-color: var(--btn-color) !important;
}

/* DE ACÁ PARA ABAJO CHEQUEAR TODO EL CÓDIGO PORQUE ERA DE POCHOCLITOS Y MUCHAS CLASES ACÁ NO VAN!!! (MENOS EL FOOTER QUE ESTÁ BIEN) */
/*------------- MAIN MOBILE --------------*/
/* .container__login {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.login__title {
  color: white;
  font-weight: 600;
  font-size: 1rem;
}

.login__form-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 15px auto;
  padding: 10px;
}*/

/* .login__form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: flex-start;
} */

.login__forgot-password {
  margin-bottom: 15px;
  text-decoration: none;
  color: white;
}

.login__forgot-password:hover {
  color: rgb(57, 202, 241);
}

.login__social-title {
  color: white;
  margin-bottom: 12px;
}

.login__container-icons {
  margin: 15px;
}

.login__icons {
  width: 35px;
  margin-right: 15px;
  transition: 0.5s;
}

.login__icons:hover {
  padding: 3px;
  background-color: white;
  border-radius: 50%;
}

img a {
  text-decoration: none;
}

.modal-p {
  font-size: 0.9rem;
} 

/*------------- MAIN MOBILE --------------*/
main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.box {
  position: relative;
  top: 20px;
  margin-bottom: 100px;
  margin-top: 55px;
  width: 305px;
  height: 430px;
  background: #1c1c1c;
  background-image: url(../images/backgrounds/backround-stars-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  filter: brightness(180%);
  overflow: hidden;
  transition: 0.6s;
}

.box:hover {
  box-shadow: 0 0 25px #8b6dee;
}

.box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 310px;
  height: 380px;
  background: linear-gradient(
    0deg,
    transparent,
    rgba(115, 146, 232, 0.94),
    #45beff,
    #45f3ff
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box .form {
  position: absolute;
  inset: 7.5px;
  background-color: #222;
  background-image: url(../images/backgrounds/stars-background-3.jpg);
  padding: 20px 40px;
  width: 95%;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__title {
  color: var(--color-fonts);
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
}

.box .form .inputBox {
  position: relative;
  width: 250px;
  margin-top: 5px;
}

.box .form .inputBox input {
  position: relative;
  width: 100%;
  padding: 7px 5px 3px;
  background: transparent;
  outline: none;
  border: none;
  box-shadow: none;
  color: #ced0d9;
  border-bottom: 1.5px solid #8f8f8f;
  font-size: 0.85em;
  letter-spacing: 0.05em;
  z-index: 10;
  border-radius: 2px;
  transition: 0.3s;
}

input[type="email"] {
  background-color: #14131300;
  color: #ced0d9;
}

.box .form .inputBox input:hover {
  color: white;
}

.text-danger {
  font-size: 0.8em;
  color: #8e35ca !important;
  letter-spacing: 0.06em;
}

.send-button {
  padding: 5px 10px;
  width: 100%;
  margin-top: 12px;
  border: 3px solid #fdfef7;
  border-radius: 7px;
  background-image: var(--color-btn);
  transition: all 0.4s ease-in;
  position: relative;
  margin-top: 15px;
  font-weight: 500;
}

.send-button:hover {
  box-shadow: 0 0 80px #8b6dee;
  background: rgba(0, 0, 0, 0);
  color: white;
}

.send-button span:nth-child(n) {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 3px solid;
  transition: all 1s;
}

.send-button span:nth-child(1) {
  right: 0.5%;
  top: -18%;
  background-color: #fff;
  border: solid #fff;
}

.send-button span:nth-child(2) {
  left: 0.5%;
  bottom: -16%;
  border: 3px solid #fff;
  background-color: #fff;
}

.send-button:hover span:nth-child(1) {
  right: 99%;
  transform: rotate(90deg);
  color: var(--btn-color);
}

.send-button:hover span:nth-child(2) {
  left: 99%;
  transform: rotate(90deg);
  color: var(--btn-color);
}

.alert-success {
  font-size: 0.7em;
  text-align: center;
  margin-top: 20px !important;
  border: 2px solid rgb(178, 87, 184);
  box-shadow: 0 0 8px #8b6dee;
  background: rgba(0, 0, 0, 0);
  color: white;
  letter-spacing: 0.04em;
  width: 100%;
}

/*--- FOOTER MOBILE 320 ---*/
.container__footer {
  background:var(--backround-pages);
  border-top: solid 4px var(--btn-color);
}

.footer__container-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;
}

.footer__title {
  font-family: var(--font-titles);
  font-size: 60px;
  color: var(--color-fonts);
  font-weight: bold;
  letter-spacing: 8px;
  padding-top: 20px;
  text-align: center;
}

.footer__logo {
  width: 130px;
  padding-bottom: 15px;
}

.footer__icons {
  width: 55%;
  display: flex;
  justify-content: space-around;
  padding: 50px 0 50px 0;
}

.icon-redes {
  padding: 3px 8px 3px 8px;
  color: var(--color-fonts);
  border: solid 0.1px rgba(0, 0, 0, 0);
  border-radius: 50%;
  transition: 0.6s;
  font-size: 35px;
}

.icon-redes:hover {
  background-color: var(--color-fonts);
  color: var(--backround-pages) !important;
  box-shadow: 1px 0px 17px 3px rgba(168,203,246,0.77);
  -webkit-box-shadow: 1px 0px 17px 3px rgba(168,203,246,0.77);
  -moz-box-shadow: 1px 0px 17px 3px rgba(168,203,246,0.77);
}

.footer__contact {
  color: var(--color-fonts);
  font-size: 0.8rem;
  padding: 10px;
}

.footer__reserved {
  color: var(--color-fonts);
  font-size: 0.6rem;
  text-align: center;
  padding-bottom: 10px;
  margin: 0;
}

/*============================== RES 500 ==============================*/
@media (min-width: 500px) {
  .box {
    width: 450px;
    height: 480px;
    border-radius: 10px;
    margin-top: 63px;
  }
  
  .box::before {
    width: 450px;
    height: 480px;
  }
  
  .box .form {
    inset: 7.5px;
    padding: 20px 0;
    width: 97%;
    border-radius: 10px;
  }
  
  .contact__title {
    margin-bottom: 10px;
    margin-top: 7px;
  }
  
  .box .form .inputBox input {
    width: 100%;
    padding: 6px 5px 2px;
    font-size: 1em;
    letter-spacing: 0.06em;
  }
  
  .text-danger {
    font-size: 0.85em;
    letter-spacing: 0.05em;
  }
  
  .send-button {
    padding: 7px 30px;
    width: 55%;
  }
  
  .alert-success {
    font-size: 0.8em;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 0.06em;
    width: 55%;
  }
}


/********************************* TABLET *************************************/
@media (min-width: 768px) {
  .box {
    margin-top: 70px;
  }


  
  /*------------- MAIN TABLET --------------*/
  /* .container__login {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 170px 50px 50px;
  }

  .login__container-image {
    width: 54%;
    padding-left: 50px;
    margin-top: 35px;
  }

  .login__img {
    width: 100%;
    border-radius: 15px;
    padding-left: 40px;
  }

  .login__form-container {
    width: 44%;
    margin: 20px;
    padding: 0 10px;
  }

  .login__form {
    padding-bottom: 10px;
  }

  .login__form-input {
    margin-bottom: 0;
  }

  .login__forgot-password {
    margin-bottom: 15px;
  }

  .login__container-icons {
    margin: 5px 16px;
  }

  .login__icons {
    width: 40px;
  } */


   /*--- FOOTER 768 ---*/
   .footer__container-contact {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
  }

  .footer__title {
    letter-spacing: 12px;
    font-size: 2.3rem;
  }

  .footer__container-logo {
    width: 30%;
    display: flex;
    align-items: center;
  }

  .footer__logo {
    width: 150px;
  }

  .footer__icons {
    width: 30%;
    display: flex;
    justify-content: center;
  }

  .icon-redes {
    margin: 15px;
  }

  .footer__contact {
    width: 30%;
    color: white;
    font-size: 0.9rem;
    padding: 20px;
    text-align: right;
  }

  .footer__reserved {
    font-size: 0.7rem;
  }
}

/********************************* DESCKTOP *************************************/
@media (min-width: 1024px) {

   /*------------- MAIN DESCKTOP --------------*/
   .box {
    margin-top: 100px;
  }
  /*------------- MAIN DESCKTOP --------------*/
  /* .container__login {
    padding: 130px 7% 20px;
  }

  .login__container-image {
    width: 50%;
    margin-right: 60px;
  }

  .login__img {
    margin-left: 20px;
  }

  .login__form-container {
    width: 45%;
    margin: 0;
    padding: 0 10px;
  }

  .login__title {
    font-size: 1.3rem;
  }

  .login__form {
    padding-bottom: 20px;
  }

  .login__forgot-password {
    margin-bottom: 50px;
  }

  .login__container-icons {
    margin: 15px 16px;
  } */

  /*--- FOOTER DESCKTOP 1024 ---*/
  .footer__container-contact {
    flex-direction: row;
    }
    
  .footer__title {
      letter-spacing: 14px;
      font-size: 5rem;
  }
  
  .icon-redes {
      margin: 40px;
  }
  
  .footer__contact {
      font-size: 1.1rem;
      padding: 20px;
  }
  
  .footer__reserved {
      font-size: 0.9rem;
  }
}
/********************************* RES 1200 *************************************/
/*------------- MAIN RES 1200 --------------*/

@media (min-width: 1200px) {
  .container__login {
    padding: 150px 14% 20px;
  }

  .login__form {
    padding-bottom: 10px;
  }

  .login__forgot-password {
    margin-bottom: 25px;
  }

  .login__container-icons {
    margin: 10px 16px;
  }

  .login__icons {
    width: 40px;
  }
}  
