*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  
  *::selection {
    background: #afc43a62;
    color: #fff;
  }

  a {
    cursor: pointer;
  }

  :root {
    --btn-color: #B0C43A;
    --backround-pages: #201f21;
    --color-fonts: rgb(255, 254, 245);
    --font-titles: 'Anton', sans-serif;
    --font-paragraph: 'Arimo', sans-serif;
    --font-2-paragraph: 'Montserrat', sans-serif;
    --line-height-mobile: 1.7; 
    --line-height-tablet: 1.8;
    --line-height-descktop: 1.9;
  }

  .body {
    background-color: var(--backround-pages);
  }

  /*===================== MOBILE RES 320  ======================*/
  /*---------- Main - res 320 ----------*/
  .container__img-slider .img-slider-mobile{
    width: 100%;
    height: 45vh;
    object-fit: cover;
    object-position: top;
  }

  .container__main-title {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .main__title {
    color: var(--color-fonts);
    font-family: var(--font-titles);
    text-align: center;
  }

  .regular {
    position: absolute;
    bottom: 55px;
  }

  .italic {
    font-style: italic;
  }

  .regular, .italic {
    font-size: 47px;
    display: block;
    white-space: nowrap;
    animation: typing 4s steps(12), blink .4s step-end alternate;
    overflow:hidden;
    border-right: 4px solid;
    width: 12ch;
  }

    @keyFrames typing {
    from { width: 0}
    }
    @keyFrames blink {
    50% { border-color: transparent}
    }

  .main__paragraph {
    color: var(--color-fonts);
    font-family: var(--font-paragraph);
    text-align: center;
    padding: 15px 25px;
    font-size: 14px;
    line-height: 1.6;
  }

  .getflix {
    font-weight: 700;
  }

  .container__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-button {
    padding: 10px;
    margin: 2px 70px;
    border-radius: 7px;
    background: var(--btn-color);
  }

  .container__buttons a {
    text-decoration: none;
    text-align: center;
    color: rgb(35, 34, 37);
    font-family: var(--font-2-paragraph);
    font-weight: 600;
  }

  .trial {
    margin-bottom: 20px;
  }

  .main__or {
    color: var(--color-fonts);
    text-align: center;
    margin: 0;
  }

  /*-------- section-one res-320 --------*/
  .container__section-one {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-bottom: 45px;
  }

  .section-one__img {
    width: 100%;
    padding: 30px 0;
  }

  .section-titles, 
  .section-paragraphs {
    color: var(--color-fonts);
    font-size: var(--font-paragraph);
    text-align: center;
  }

  .section-titles {
    font-size: 25px;
    padding-bottom: 10px;
  }

  .section-paragraphs {
   font-size: 14px;
   line-height: var(--line-height-mobile);
  }

  /*---------- section-two res-320 ----------*/
  .container__section-two {
    background-image: url(../images/backgrounds/stars-background-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    margin: auto;
  }

  .container__section-two {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .devices-images {
    width: 95%;
  }

  .devices__contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
  }

  .device-titles {
    color: var(--color-fonts);
    font-size: 20px;
    margin-bottom: 25px;
  }

  .h5-op {
    color: rgb(211, 209, 209);
    font-size: 15px;
  }

 /*------ section-three res-320 ------*/
  .lion-king-descktop-img {
    display: none;
  }

  .container__section-three {
    padding-bottom: 60px;
  }

  .lion-king-mobile-img {
    width: 100%;
  }

  .section-three__contain-title--parag {
    padding: 7px 30px;
  }

/*-------- FAQs res-320 --------*/
.container__faq-questions {
  color: var(--color-fonts);
  font-family: var(--font-paragraph);
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.faq__main-title {
  font-size: 1.5rem;
  margin: 15px 0;
  font-weight: 900;
}

.faq {
  max-width: 80%;
  margin-top:1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--color-fonts);
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h4 {
  font-size: 1rem;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}

.answer p {
  padding-top: 1rem;
  line-height: var(--line-height-mobile);
  font-size: 0.8rem;
}

.faq.active .answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

.faq.active svg {
  transform: rotate(180deg);
}

svg {
  transition: transform .5s ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*--- FOOTER MOBILE 320 ---*/
.container__footer {
  background:var(--backround-pages);
  border-top: solid 4px var(--btn-color);
}

.footer__container-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;
}

.footer__title {
  font-family: var(--font-titles);
  font-size: 60px;
  color: var(--color-fonts);
  font-weight: bold;
  letter-spacing: 8px;
  padding-top: 20px;
  text-align: center;
}

.footer__logo {
  width: 130px;
  padding-bottom: 15px;
}

.footer__icons {
  width: 55%;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  color: var(--color-fonts);
}

.footer__contact {
  color: var(--color-fonts);
  font-size: 0.8rem;
  padding: 10px;
}

.footer__reserved {
  color: var(--color-fonts);
  font-size: 0.6rem;
  text-align: center;
  padding-bottom: 10px;
  margin: 0;
}

/*================ RES 370, 415, 500, 600, 715 ================*/
/*--- MAIN 370 ---*/
@media (min-width: 370px) {
  .regular {
    bottom: 65px;
  }

  .main__title {
    font-size: 60px;
  }

  /*--- BUTTONS MAIN 370 ---*/
   .main-button {
    padding: 15px;
    margin: 7px 90px;
  }
}

/*--- MAIN 415 ---*/
@media (min-width: 415px) {
  .regular {
    bottom: 77px;
    font-size: 65px;
  }

  .italic {
    font-size: 70px;
  }

  /*--- BUTTONS MAIN 415 ---*/
  .main-button {
    padding: 15px;
    margin: 7px 115px;
  }

  /*--- Paragraph 415 ---*/
  .main__paragraph {
    padding: 20px 30px;
    font-size: 16px;
  }
}

/*--- MAIN 500 ---*/
@media (min-width: 500px) {
  .container__img-slider .img-slider-mobile {
    height: 60vh;
}

  .regular {
    bottom: 87px;
    font-size: 75px;
  }

  .italic {
    font-size: 80px;
  }

  .main__paragraph {
    font-size: 18px;
  }

  /*--- BUTTONS MAIN 500 ---*/
  .main-button {
    padding: 18px;
    margin: 7px 130px;
    font-size: 20px;
    font-weight: 800;
  }
}

/*------- MAIN 600 -------*/
@media (min-width: 600px) {
  .regular {
    bottom: 95px;
    font-size: 75px;
  }

  .italic {
    font-size: 80px;
  }

  /*--- BUTTONS MAIN 600 ---*/
  .main-button {
    padding: 22px;
    margin: 7px 170px;
    font-size: 22px;
  }

  /*--- Paragraph 600 ---*/
  .main__paragraph {
    padding: 30px 60px;
    font-size: 23px;
  }
}

/*--- MAIN 715 ---*/
@media (min-width: 715px) {
  .regular {
    bottom: 95px;
  }

  .main__title {
    font-size: 95px;
  }

  .main__paragraph {
    padding: 30px 70px;
    font-size: 25px;
  }

  /*---- BUTTONS MAIN 715 ----*/
  .main-button {
    padding: 20px;
    margin: 7px 200px;
    font-size: 19px;
  }

  .main__or {
    font-size: 20px;
  }
}

/*===================== TABLET RES 768 =====================*/
/*------- MAIN 768 -------*/
@media (min-width: 768px) {
    .container__main {
      display: grid;
      grid-template-columns: 50% 50%;
      width: 100%;
    }

    .container__img-slider .img-slider-descktop {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      object-position: top;
    }

    .main__container-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 150px 15% 20px 15%;
      background-image: url(../images/backgrounds/stars-background-3.jpg);
      height: 100vh;
    }

    .container__main-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin: 40px 20px 20px 0;
    }

    .main__title {
      text-align: left;
      font-size: 50px;
      position: static;
      letter-spacing: 1px;
    }

    .main__paragraph {
      padding: 10px 0;
      font-size: 18px;
      line-height: var(--line-height-tablet);
      text-align: left;
    }

    .main-button {
      padding: 15px;
      margin: 7px 30px;
      font-size: 16px;
    }

    /*------ SECTION ONE 768 ------*/
    .container__section-one {
      flex-direction: row;
      padding: 170px 20px;
      margin-bottom: 0;
    }
  
    .section-one__img {
      width: 60%;
      padding: 0 20px;
    }
  
    .section-titles, 
    .section-paragraphs {
      padding-top: 30px;
    }
  
    .section-titles {
      font-size: 35px;
      padding-bottom: 5px;
    }
  
    .section-paragraphs {
     font-size: 20px;
     line-height: var(--line-height-tablet);
     text-align: left;
    }

    /*------ SECTION TWO 768 -----*/
    .container__section-two {
      padding: 80px 10px;
      margin-bottom: 0;
      border-top: var(--color-fonts) solid 6px;
      border-bottom: var(--color-fonts) solid 6px;
    }

    .section-two__container-devices {
      padding-top: 40px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .devices__contain {
      width: 47%;
    }
  
    .devices-images {
      width: 100%;
    }
  
    .device-titles {
      font-size: 25px;
    }
  
    .h5-op {
      font-size: 18px;
    }

    /*------- section three 768 -------*/
    .lion-king-mobile-img {
      display: none;
    }

    .lion-king-descktop-img {
      display: block;
      width: 100%;
    }
      
    .container__section-three {
      padding-bottom: 50px;
      padding-top: 100px;
      position: relative;
      margin-top: 0;
    }

    .section-three__contain-title--parag {
      width: auto;
      padding: 7px 40px;
      position: absolute;
      bottom: 125px;
      left: 45%;
    }

    /*--- FAQ 768 ---*/
    .faq__main-title {
      font-size: 1.7rem;
    }
    
    .faq {
      max-width: 85%;
      margin-top: 1.1rem;
      padding-bottom: 1.1rem;
    }
    
    .question h4 {
      font-size: 1.35rem;
    }
  
    .answer p {
      font-size: 1.2rem;
    }

    /*--- FOOTER 768 ---*/
    .footer__container-contact {
      flex-direction: row;
      justify-content: space-between;
      padding: 30px 0;
    }

    .footer__title {
      letter-spacing: 12px;
      font-size: 2.3rem;
    }

    .footer__container-logo {
      width: 30%;
      display: flex;
      align-items: center;
    }

    .footer__logo {
      width: 150px;
    }

    .footer__icons {
      width: 30%;
      display: flex;
      justify-content: center;
    }

    .icon-redes {
      margin: 15px;
    }

    .footer__contact {
      width: 30%;
      color: white;
      font-size: 0.9rem;
      padding: 20px;
      text-align: right;
    }

    .footer__reserved {
      font-size: 0.7rem;
    }
  }

  /*===================== DESCKTOP RES 1024  =====================*/
  @media (min-width: 1024px) {
  /*--- MAIN DESCKTOP 1024 ---*/
  .main__container-text {
    padding: 100px 15% 20px 15%;
  }

    .container__main-title {
      margin: 0 20px 30px 0;
    }

    .main__title {
      font-size: 60px;
    }

    .main__paragraph {
      padding: 10px 10% 20px 0;
      font-size: 22px;
    }

    .main-button {
      padding: 15px;
      margin: 7px 0;
      font-size: 16px;
    }

    /*--- section-one 1024 ---*/
    .container__section-one {
      padding: 170px 30px; 
    }

    .section-one__img {
      width: 60%;
      padding: 0 40px;
    }

    .section-one__contain-title--parag {
      margin-top: 30px;
    }

    .section-titles, 
    .section-paragraphs {
      padding-top: 30px;
    }

    .section-titles {
      font-size: 40px;
    }

    .section-paragraphs {
    font-size: 25px;
    }

    /*--- section-two 1024 ---*/
    .container__section-two {
      padding: 152px 10px;  
    }

    .section-two__container-devices {
      padding-top: 100px;
    }

    .devices__contain {
      width: 25%;
    }

    .device-titles {
      font-size: 28px;
    }

    .h5-op {
      font-size: 20px;
    }

    /*--- section-three 1024 ---*/ 
    .container__section-three {
      padding-bottom: 70px;
      padding-top: 150px;
    }

    .section-three__contain-title--parag {
      width: 60%;
      padding: 7px 10px;
      bottom: 300px;
      left: 40%;
    }

    /*------- FAQ 1024 -------*/
    .faq__main-title {
      font-size: 2rem;
    }
    
    .faq {
      max-width: 80%;
      margin-top: 1.2rem;
      padding-bottom: 1.2rem;
    }
    
    .question h4 {
      font-size: 1.9rem;
    }

    .answer p {
      font-size: 1.5rem;
    }

  /*--- FOOTER DESCKTOP 1024 ---*/
      .footer__container-contact {
      flex-direction: row;
    }
    
      .footer__title {
        letter-spacing: 14px;
        font-size: 5rem;
      }
    
      .icon-redes {
        margin: 40px;
      }
    
      .footer__contact {
        font-size: 1.1rem;
        padding: 20px;
      }
    
      .footer__reserved {
        font-size: 0.9rem;
      }
    }